name: LAGraph CI

on: [push, pull_request]

jobs:
  linux:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        config:
        - {grb_version: 4.0.3, conda_grb_package_hash: h9c3ff4c}
        #- {grb_version: 5.0.3, conda_grb_package_hash: h9c3ff4c}
    steps:
    - name: Checkout
      uses: actions/checkout@v2.0.0
    - name: Build project
      run: |
        pushd .
        # grab GraphBLAS binaries
        mkdir graphblas-binaries
        cd graphblas-binaries
        wget --quiet https://anaconda.org/conda-forge/graphblas/${{ matrix.config.grb_version }}/download/linux-64/graphblas-${{ matrix.config.grb_version }}-${{ matrix.config.conda_grb_package_hash }}_0.tar.bz2
        tar xf graphblas-${{ matrix.config.grb_version }}-${{ matrix.config.conda_grb_package_hash }}_0.tar.bz2
        export GRAPHBLAS_INCLUDE_DIR=`pwd`/include
        export GRAPHBLAS_LIBRARY=`pwd`/lib/libgraphblas.so
        popd
        # build and test LAGraph
        mkdir build
        cd build
        cmake .. -DGRAPHBLAS_INCLUDE_DIR=${GRAPHBLAS_INCLUDE_DIR} -DGRAPHBLAS_LIBRARY=${GRAPHBLAS_LIBRARY}
        JOBS=2 make
  macos:
    runs-on: macos-11
    strategy:
      matrix:
        config:
        - {grb_version: 4.0.3, conda_grb_package_hash: h046ec9c}
        #- {grb_version: 5.0.3, conda_grb_package_hash: he49afe7}
    steps:
    - name: Checkout
      uses: actions/checkout@v2.0.0
    - name: Build project
      run: |
        pushd .
        # grab GraphBLAS binaries
        mkdir graphblas-binaries
        cd graphblas-binaries
        wget --quiet https://anaconda.org/conda-forge/graphblas/${{ matrix.config.grb_version }}/download/osx-64/graphblas-${{ matrix.config.grb_version }}-${{ matrix.config.conda_grb_package_hash }}_0.tar.bz2
        tar xf graphblas-${{ matrix.config.grb_version }}-${{ matrix.config.conda_grb_package_hash }}_0.tar.bz2
        export GRAPHBLAS_INCLUDE_DIR=`pwd`/include
        export GRAPHBLAS_LIBRARY=`pwd`/lib/libgraphblas.dylib
        popd
        # build and test LAGraph
        mkdir build
        cd build
        CC=gcc cmake .. -DGRAPHBLAS_INCLUDE_DIR=${GRAPHBLAS_INCLUDE_DIR} -DGRAPHBLAS_LIBRARY=${GRAPHBLAS_LIBRARY}
        JOBS=2 make
